*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: $font-family;
}

p {
    line-height: 160%;
    color: $gray-blue;
}

h1,
h2,
h3 {
    color: $dark-blue;
}

button {
    font-size: 1rem;
    font-family: $font-family;

    &:hover {
        cursor: pointer;
    }
}