.features {
    margin-top: 100px;
    overflow: hidden;

    &__description {
        @include content-width;
        text-align: center;
    }

    &__text {
        margin: 20px auto 0 auto;
        max-width: 500px;
    }

    &__nav {
        margin-top: 40px;
    }

    &__list-item {
        padding: 1.5rem 0;
        border-top: 1px solid rgba($gray-blue, 0.2);
        position: relative;

        &:last-child {
            border-bottom: 1px solid rgba($gray-blue, 0.2);;
        }

        &:hover {
            cursor: pointer;

            & > span {
                color: $red;
            }
        }
    }

    &__link {
        color: rgba($dark-blue, 0.7);
        pointer-events: none;

        &--active {
            color: $dark-blue;

            &::after {
                content: "";
                width: 40%;
                height: 4px;
                background-color: $red;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto
            }
        }
    }

    @include tablet {
        &__list {
            @include flex-center;
        }

        &__list-item {
            padding: 1.5rem 2.5rem;
            border-top: none;
            border-bottom: 1px solid rgba($gray-blue, 0.2);
        }

        &__link {

            &--active {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    @include desktop {

        &__description {
            font-size: 1.125rem;
        }
    }
}

.slider {
    margin-top: 60px;
    position: relative;

    &__bg-element {
        width: 80%;
        max-width: 300px;
        height: 200px;
        position: absolute;
        left: 0;
        top: 50px;
        background-color: $blue;
        border-radius: 0 300px 300px 0;
        z-index: -1;
    }

    &__slides {
        @include flex-center;
        align-items: flex-start;
        width: 300%;
        position: relative;
        left: 0;
        transition: left .4s ease;
    }

    &__slide {
        width: 100%;
    }

    &__content {
        @include content-width;
    }

    &__img {
        width: 100%;
        max-height: 220px;
    }

    &__container {
        margin-top: 80px;
        text-align: center;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__text {
        margin-top: 20px;
        max-width: 400px;
    }

    &__button {
        display: none;
    }

    @include tablet {

        &__content {
            @include flex-center;
            justify-content: space-between;
        }

        &__img {
            width: 50%;
            max-height: unset;
        }

        &__container {
            margin: 0;
            width: 45%;
            text-align: left;
        }

        &__button {
            margin-top: 20px;
            padding: 0.5rem 1rem;
            display: block;
            border: none;
            border-radius: 10px;
            background-color: $blue;
            color: white;
        }
    }

    @include desktop {

        &__bg-element {
            top: 170px;
            height: 250px;
            max-width: 800px;
            width: 50vw;
        }

        &__container {
            width: 40%;
            font-size: 1.125rem;
        }
    }
}