.features {
    margin-top: 100px;
    overflow: hidden;

    &__description {
        @include content-width;
        text-align: center;
    }

    &__text {
        margin: 20px auto 0 auto;
        max-width: 500px;
    }

    &__nav {
        margin-top: 40px;
    }

    &__list-item {
        padding: 1.5rem 0;
        border-top: 1px solid rgba($gray-blue, 0.2);
        position: relative;

        &:last-child {
            border-bottom: 1px solid rgba($gray-blue, 0.2);;
        }
    }

    &__link {
        color: rgba($dark-blue, 0.7);

        &--active {
            color: $dark-blue;

            &::after {
                content: "";
                width: 40%;
                height: 4px;
                background-color: $red;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto
            }
        }

        &:hover {
            color: $red;
            cursor: pointer;
        }
    }

    @include tablet {
        &__list {
            @include flex-center;
        }

        &__list-item {
            padding: 1.5rem 2.5rem;
            border-top: none;
            border-bottom: 1px solid rgba($gray-blue, 0.2);
        }

        &__link {
            &--active {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    @include desktop {

        &__description {
            font-size: 1.125rem;
        }
    }
}

.slider {
    margin-top: 60px;
    width: 300%;
    @include flex-center;
    align-items: flex-start;
    position: relative;

    &__bg-element {
        width: 80%;
        max-width: 300px;
        height: 200px;
        position: absolute;
        left: 0;
        top: 50px;
        background-color: $blue;
        border-radius: 0 300px 300px 0;
        z-index: -1;
    }

    &__slide {
        width: 100%;
        position: relative;
    }

    &__content {
        @include content-width;
    }

    &__img {
        width: 100%;
    }

    &__container {
        margin-top: 80px;
        text-align: center;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__text {
        margin-top: 20px;
    }

    &__button {
        display: none;
    }
}