@mixin content-width {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin tablet {
    @media screen and(min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}