*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 160%;
  color: #9194a1;
}

h1,
h2,
h3 {
  color: #252b46;
}

button {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.3);
}

.header {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.header__logo {
  width: 160px;
}
.header__logo--white {
  z-index: 3;
}
.header__logo--white .first-path {
  fill: white;
}
.header__logo--white .second-path {
  fill: #252b46;
}
.header__logo--white circle {
  fill: white;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  z-index: 3;
}
.header__button--close {
  background-image: url(../images/icon-close.svg);
}
.header__nav-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(37, 43, 70, 0.9);
  transition: top 0.5s ease;
  z-index: 2;
}
.header__nav-container--show {
  top: 0;
}
.header__nav {
  width: 90%;
  margin: 0 auto;
}
.header__list {
  margin-top: 130px;
  text-align: center;
}
.header__list-item {
  padding: 1.2rem 0;
  border-top: 1px solid #9194a1;
}
.header__list-item:last-child {
  border-bottom: 1px solid #9194a1;
}
.header__link {
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.header__login {
  width: 90%;
  margin: 30px auto 0 auto;
  padding: 0.5rem 0;
  display: block;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.header__social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
}
.header__social-icon {
  width: 30px;
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
  .header__nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    width: unset;
    height: unset;
    background-color: transparent;
  }
  .header__nav {
    width: auto;
    margin: 0;
  }
  .header__list {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__list-item {
    padding: 0;
    border: none;
  }
  .header__list-item:last-child {
    border: none;
  }
  .header__link {
    margin-right: 25px;
    color: #252b46;
    font-size: 1rem;
  }
  .header__link:hover {
    color: #fa5757;
  }
  .header__login {
    margin: 0;
    padding: 0.5rem 1.5rem;
    background-color: #fa5757;
    font-size: 1rem;
    border: 1px solid white;
  }
  .header__login:hover {
    color: #fa5757;
    background-color: transparent;
    border-color: #fa5757;
  }
  .header__social {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__link {
    margin-right: 35px;
  }
}

.hero {
  position: relative;
}
.hero__bg-element {
  width: 80%;
  height: 200px;
  max-width: 300px;
  position: absolute;
  top: 160px;
  right: 0;
  border-radius: 200px 0 0 200px;
  background-color: #5368df;
  z-index: -1;
}
.hero__content {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__img {
  margin-top: 100px;
  width: 110%;
  max-width: 600px;
}
.hero__container {
  text-align: center;
}
.hero__title {
  margin-top: 60px;
  font-weight: 500;
}
.hero__text {
  margin-top: 20px;
}
.hero__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.hero__button {
  padding: 0.8rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.9rem;
}
.hero__button--chrome {
  background-color: #5368df;
  color: white;
}
.hero__button--chrome:hover {
  background-color: transparent;
  color: #5368df;
  border-color: #5368df;
}
.hero__button--firefox {
  background-color: rgba(145, 148, 161, 0.1);
}
.hero__button--firefox:hover {
  background-color: transparent;
  border-color: #252b46;
}
@media screen and (min-width: 768px) {
  .hero__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero__img {
    order: 1;
    width: 50%;
    margin-right: -50px;
  }
  .hero__container {
    width: 50%;
    max-width: 500px;
    text-align: left;
  }
  .hero__buttons {
    justify-content: flex-start;
  }
  .hero__button--chrome {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__bg-element {
    top: 250px;
    height: 250px;
    max-width: 600px;
    width: 40vw;
  }
  .hero__container {
    font-size: 1.125rem;
  }
  .hero__title {
    font-size: 3rem;
  }
}

.features {
  margin-top: 100px;
  overflow: hidden;
}
.features__description {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.features__text {
  margin: 20px auto 0 auto;
  max-width: 500px;
}
.features__nav {
  margin-top: 40px;
}
.features__list-item {
  padding: 1.5rem 0;
  border-top: 1px solid rgba(145, 148, 161, 0.2);
  position: relative;
}
.features__list-item:last-child {
  border-bottom: 1px solid rgba(145, 148, 161, 0.2);
}
.features__list-item:hover {
  cursor: pointer;
}
.features__list-item:hover > span {
  color: #fa5757;
}
.features__link {
  color: rgba(37, 43, 70, 0.7);
  pointer-events: none;
}
.features__link--active {
  color: #252b46;
}
.features__link--active::after {
  content: "";
  width: 40%;
  height: 4px;
  background-color: #fa5757;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features__list-item {
    padding: 1.5rem 2.5rem;
    border-top: none;
    border-bottom: 1px solid rgba(145, 148, 161, 0.2);
  }
  .features__link--active::after {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .features__description {
    font-size: 1.125rem;
  }
}

.slider {
  margin-top: 60px;
  position: relative;
}
.slider__bg-element {
  width: 80%;
  max-width: 300px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #5368df;
  border-radius: 0 300px 300px 0;
  z-index: -1;
}
.slider__slides {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 300%;
  position: relative;
  left: 0;
  transition: left 0.4s ease;
}
.slider__slide {
  width: 100%;
}
.slider__content {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}
.slider__img {
  width: 100%;
  max-height: 220px;
}
.slider__container {
  margin-top: 80px;
  text-align: center;
}
.slider__title {
  font-size: 1.5rem;
}
.slider__text {
  margin-top: 20px;
  max-width: 400px;
}
.slider__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .slider__content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .slider__img {
    width: 50%;
    max-height: unset;
  }
  .slider__container {
    margin: 0;
    width: 45%;
    text-align: left;
  }
  .slider__button {
    margin-top: 20px;
    padding: 0.5rem 1rem;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #5368df;
    color: white;
  }
}
@media screen and (min-width: 1024px) {
  .slider__bg-element {
    top: 170px;
    height: 250px;
    max-width: 800px;
    width: 50vw;
  }
  .slider__container {
    width: 40%;
    font-size: 1.125rem;
  }
}

.download {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.download__text {
  margin: 20px auto 0 auto;
  max-width: 500px;
}
.download__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .download {
    font-size: 1.125rem;
  }
  .download__cards {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

.card {
  margin-top: 40px;
  padding: 3rem 0 1.5rem 0;
  max-width: 320px;
  border-radius: 15px;
  box-shadow: 0 5px 15px 0 rgba(37, 43, 70, 0.3);
}
.card__title {
  margin-top: 30px;
}
.card__description {
  margin-top: 10px;
}
.card__dots {
  margin-top: 40px;
  width: 100%;
}
.card__button {
  margin: 20px;
  width: 80%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #5368df;
  color: white;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 30%;
    font-size: 1.125rem;
  }
  .card:nth-child(2) {
    margin-top: 100px;
  }
  .card:nth-child(3) {
    margin-top: 160px;
  }
}

.faq {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 100px;
  text-align: center;
}
.faq__text {
  margin: 20px auto 0 auto;
  max-width: 500px;
}
.faq__container {
  margin-top: 50px;
  text-align: left;
}
.faq__question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0 1rem 0;
  border-bottom: 1px solid rgba(145, 148, 161, 0.2);
}
.faq__question-container:hover {
  cursor: pointer;
}
.faq__question-container:hover > span {
  color: #fa5757;
}
.faq__question {
  pointer-events: none;
}
.faq__arrow {
  pointer-events: none;
  transition: all 0.5s ease;
}
.faq__arrow--open {
  transform: rotate(180deg);
}
.faq__arrow--open path {
  stroke: #fa5757;
}
.faq__answer-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}
.faq__answer-container--open {
  max-height: 500px;
}
.faq__answer {
  padding: 1.5rem 0 1rem 0;
  width: 100%;
}
.faq__button {
  margin-top: 50px;
  padding: 0.9rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #5368df;
  color: white;
}
@media screen and (min-width: 1024px) {
  .faq {
    font-size: 1.125rem;
  }
}

.cta {
  margin-top: 100px;
  padding: 4rem 0 3rem 0;
  background-color: #5368df;
  text-align: center;
}
.cta__content {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}
.cta__text {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
}
.cta__title {
  margin-top: 10px;
  font-weight: 500;
  color: white;
}
.cta__form {
  margin-top: 30px;
}
.cta__input-container {
  width: 100%;
  position: relative;
}
.cta__input {
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.cta__input--error {
  border-color: #fa5757;
}
.cta__error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background-color: #fa5757;
  border-radius: 5px;
  transition: top 0.3s ease;
}
.cta__error-text {
  padding: 0.7rem 0 0.3rem 0.7rem;
  font-size: 0.8rem;
  text-align: left;
  color: white;
}
.cta__icon {
  display: none;
}
.cta__icon--show {
  display: block;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 3;
}
.cta__button {
  margin-top: 40px;
  padding: 0.8rem 0;
  width: 100%;
  background-color: #fa5757;
  border: 2px solid #fa5757;
  border-radius: 5px;
  color: white;
}
.cta__button:hover {
  background-color: white;
  color: #fa5757;
}
@media screen and (min-width: 768px) {
  .cta__title {
    margin-top: 30px;
    font-size: 2.5rem;
  }
  .cta__form {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .cta__input-container {
    width: 66%;
  }
  .cta__button {
    margin-top: 0;
    width: 30%;
  }
}

.footer {
  padding: 3rem 0;
  background-color: #252b46;
}
.footer__content {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__nav {
  margin-top: 30px;
}
.footer__list-item {
  padding: 1rem;
  text-align: center;
}
.footer__link {
  color: white;
  text-transform: uppercase;
}
.footer__link:hover {
  color: #fa5757;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.footer__icon {
  margin-left: 30px;
}
.footer__icon:hover {
  cursor: pointer;
}
.footer__icon:hover > path {
  fill: #fa5757;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1rem 0;
  }
  .footer__content {
    flex-direction: row;
  }
  .footer__nav {
    margin: 0 0 0 50px;
  }
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__social {
    margin-top: 0;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
